@model Models.EF.HopDong
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Models.EF.V_HOP_DONG hopdong = ViewBag.HopDong as Models.EF.V_HOP_DONG;
    //List<Models.EF.CHI_TIET_HOP_DONG> listChiTietHopDong = ViewBag.ChiTietHopDong as List<Models.EF.CHI_TIET_HOP_DONG>;
    //var sessionUser = (BanHangDoGo.Common.UserLogin)Session[BanHangDoGo.Common.CommonConstants.USER_SESSION];
}

<h3 style="color:#ff6a00">XÁC NHẬN HỢP ĐỒNG</h3>

@if (ViewBag.ThanhCong != null)
{
    <div class="alert alert-success">
        @ViewBag.ThanhCong
    </div>
}

@if (ViewBag.Loi != null)
{
    <div class="alert alert-danger">
        @ViewBag.Loi
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin khách hàng
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>

                            <tr>
                                <td>Tên khách hàng:</td>
                                <td><b>@Model.KhachHang.TenKhachHang</b></td>
                                <td>Điện thoại</td>
                                <td>@Model.KhachHang.DienThoai</td>
                            </tr>

                            <tr>
                                <td>Địa chỉ:</td>
                                <td>@Model.KhachHang.DiaChi</td>
                                <td>Email</td>
                                <td>@Model.KhachHang.Email</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ChiTietHopDongs != null && Model.ChiTietHopDongs.Count > 0)
                            {
                                foreach (var item in Model.ChiTietHopDongs)
                                {
                                    <tr>
                                        <td><b>@item.SanPham.TenSanPham</b></td>
                                        <td>@item.SoLuong</td>
                                        <td>@item.SanPham.DonGia</td>
                                        <td>@item.ThanhTien</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Tổng tiền</td>
                                    <td>@Model.ChiTietHopDongs.Sum(o => o.ThanhTien)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
@using (Html.BeginForm("XacNhanHopDong", "HopDong", FormMethod.Post))
{
    if (ViewBag.ThanhCong == null)
    {
        @Html.Hidden("id", Model.Id)
        <p>
            @if (!Model.KhachHangXacNhan.HasValue)
            {
                <center><button type="submit" class="btn btn-info">Xác nhận</button></center>
            }
        </p>
    }
}