@model Models.EF.HopDong

@{
    ViewBag.Title = "Xóa hợp đồng";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KhachHang.TaiKhoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KhachHang.TaiKhoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NguoiDung.TaiKhoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NguoiDung.TaiKhoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NguoiDung1.TaiKhoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NguoiDung1.TaiKhoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayTao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThanhTien)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThanhTien)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KhachHangXacNhan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KhachHangXacNhan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TienDatCoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TienDatCoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayBatDau)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayBatDau)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayKetThuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayKetThuc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoaiHopDong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoaiHopDong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThoiGian)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThoiGian)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TinhTrang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TinhTrang)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NoiDung)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NoiDung)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Danh sách", "Index")
                </div>
            }
        </div>
    </div>
</section>
