@model Models.EF.HopDong

@{
    ViewBag.Title = "Sửa hợp đồng";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}


<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa thông tin hợp đồng</h3>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Hợp đồng</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày tạo</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayTao" value="" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Mã nhân viên</b>
                    <div class="col-md-10">
                        @Html.DropDownList("MaNhanVien", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Mã giám đốc</b>
                    <div class="col-md-10">
                        @Html.DropDownList("MaGiamDoc", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaGiamDoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Mã khách hàng</b>
                    <div class="col-md-10">
                        @Html.DropDownList("MaKhachHang", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaKhachHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Thành tiền</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThanhTien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThanhTien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Khách hàng xác nhận</b>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.KhachHangXacNhan)
                            @Html.ValidationMessageFor(model => model.KhachHangXacNhan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Tiền đặt cọc</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TienDatCoc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TienDatCoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày bắt đầu</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayBatDau" value="" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày kết thúc</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayKetThuc" value="" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Loại hợp đồng</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LoaiHopDong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LoaiHopDong, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Thời gian</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThoiGian, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGian, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Tình trạng</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Nội dung</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sửa" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="box-footer">
        @Html.ActionLink("Danh sách", "Index")
    </div>
</section>
@section script{
    <script>
        CKEDITOR.replace('description');
    </script>
}