@model Models.EF.ChiTietHoaDon

@{
    Layout = null;
}

<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Phiếu giao hàng</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">
    <meta name="template-hash" content="baadb45704803c2d1a1ac3e569b757d5">
    <link href="~/Public/Bill/css/template.css" rel="stylesheet" />
</head>
<body>
    <div id="container" style="width:960px">
        <section id="memo">
            <div class="logo">
                <img src="~/Public/Client/images/logohn.png" style="width:381px" />
            </div>

            <div class="company-info"> 
                <div>Đồ gỗ Hải Nam</div>
                <br />

                <span>Xóm Chợ, thôn Đinh Xuyên - Xã Hòa Nam - Huyện ứng Hoà - Hà Nội</span>
                <span></span>
                <br />

                <span>0984752196</span>
                <span>cskh@hainam.com</span>
            </div>
        </section>
        <section id="invoice-title-number">

            <span id="title">Phiếu giao hàng</span>
            <span id="number">@Model.NgayGiaoHang</span>

        </section>

        <div class="clearfix"></div>

        <section id="client-info">
            <div>
                <span>Mã khách hàng: <strong> @Model.HoaDon.KhachHang.Id</strong></span>
            </div>

            <div>
                <span>Tên khách hàng: <strong> @Model.HoaDon.KhachHang.TenKhachHang</strong></span>
            </div>
            <div>
                <span>Điện thoại: <strong> @Model.HoaDon.KhachHang.DienThoai</strong></span>
            </div>

            <div>
                <span>Email: <strong> @Model.HoaDon.KhachHang.Email</strong></span>
            </div>

            <div>
                <span>Địa chỉ: <strong> @Model.HoaDon.KhachHang.DiaChi</strong></span>
            </div>
        </section>

        <div class="clearfix"></div>

        <section id="items">

            <table cellpadding="0" cellspacing="0">

                <tr>
                    <th>Mã</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Ngày giao hàng</th>
                    <th>Tổng tiền</th>
                </tr>
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.SanPham.TenSanPham</td>
                        <td>@Model.SoLuong</td>
                        <td>@Model.NgayGiaoHang</td>
                        <td>
                            @if (Model.TongTien != null)
                        {
                            <span>@Model.TongTien.Value.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</span>
                        }
                    </td>
                </tr>
                }
            </table>

        </section>

        <section id="sums">

            <table cellpadding="0" cellspacing="0">
                <tr data-hide-on-quote="true">
                    <th>Thành tiền</th>
                    <td>
                        @if (Model.TongTien != null)
                    {
                        <spam>@Model.TongTien.Value.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</spam>
                    }
                </td>
            </tr>

        </table>
        <div class="clearfix"></div>

    </section>

    <div class="clearfix"></div>
    <section id="invoice-info">
        <div>
            <span>Ngày đặt cọc</span> <span>@Model.HoaDon.NgayDatCoc</span>
        </div>
        <div>
            <span>Ngày thanh toán</span> <span>@Model.HoaDon.NgayThanhToan</span>
        </div>
        <br />
        <div>
            <span>Ngày giao hàng</span> <span>@Model.NgayGiaoHang</span>
        </div>
        <div>
            <span>Đã thanh toán</span> <span>@Model.HoaDon.DaThanhToan</span>
        </div>
    </section>

    <section id="terms">
        <div class="notes"></div>
        <br />
        <div class="payment-info">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </section>
    <div class="clearfix"></div>
    <div class="thank-you">Thanks You</div>
    <div class="clearfix"></div>
</div>
</body>
</html>
