@model IEnumerable< Models.EF.SanPham >
@{
    ViewBag.Title = "Website bán hàng đồ gỗ - Hải Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="content-bot">
        <div class="tm-left-ct" style="font-size:14px">
            <div class="tm-tree-hot">
                <div style="float:left;margin-bottom:10px">
                    <h3 class="tm-title">SẢN PHẨM NỔI BÂT</h3>
                    <!--<div class="row">
        </div>-->
                    <ul class="list-tree">


                        @foreach (var item in Model)
                        {
                            <li style="height:258px;">
                                <div class="detail">
                                    <a href="/chi-tiet-san-pham/@item.Id" title="@item.TenSanPham" class="img">
                                        <img src="~/Public/Upload/Product/@item.HinhAnh" alt="@item.TenSanPham">
                                    </a>
                                    <h4><a href="/chi-tiet-san-pham/@item.Id" title="@item.TenSanPham"><strong>@item.TenSanPham</strong></a></h4>
                                    <span class="cart-price2" style="font-size: 12px">Đơn Giá: @item.DonGia VNĐ</span> 
                                </div>
                            </li>


                      
                        }


                    </ul>
                </div>
                </div>
            </div>
        </div>
   