@model Models.EF.HoaDon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KhachHang.TaiKhoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KhachHang.TaiKhoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NguoiDung.TaiKhoan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NguoiDung.TaiKhoan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ThoiGianTao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ThoiGianTao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TongTien)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TongTien)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DaThanhToan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DaThanhToan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayGiaoHang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayGiaoHang)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayDatCoc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayDatCoc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NgayThanhToan)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NgayThanhToan)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HopDong)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HopDong)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaiDoanGiaoHang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaiDoanGiaoHang)
                </dd>

            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Danh sách", "Index")
                </div>
            }
        </div>
    </div>
</section>