@model Models.EF.HoaDon

@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}


<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết hóa đơn</h3>
        </div>
        <div class="box-body">
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Khách hàng
                        </th>
                        <th>
                            Nhân viên
                        </th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Ngày giao hàng
                        </th>
                        <th>
                            Ngày đặt cọc
                        </th>
                        <th>
                            Ngày thanh toán
                        </th>
                        <th>
                            Hợp đồng
                        </th>
                        <th>
                            Giai đoạn giao hàng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.KhachHang.TaiKhoan
                        </td>
                        <td>
                            @if (Model.NguoiDung != null)
                            {
                                @Model.NguoiDung.TaiKhoan
                            }
                        </td>
                        <td>
                            @Model.ThoiGianTao
                        </td>
                        <td>
                            @Model.TongTien
                        </td>
                        <td>
                            @if (Model.NgayGiaoHang == null)
                            {
                                <span class="text-danger">Chưa giao hàng</span>
                            }
                            else
                            {
                                <span class="text-success">@Model.NgayGiaoHang</span>
                            }
                        </td>
                        <td>
                            @if (Model.NgayDatCoc == null)
                            {
                                <a href="/Admin/HoaDons/DatCoc/@Model.MaHoaDon">[ Đặt cọc ]</a>
                            }
                            else
                            {
                                <span class="text-success">@Model.NgayDatCoc</span>
                            }
                        </td>
                        <td>
                            @if (Model.NgayThanhToan != null)
                            {
                                <span class="text-success">@Model.NgayThanhToan</span>
                            }
                            else
                            {
                                <a href="/Admin/HoaDons/ThanhToan/@Model.MaHoaDon">[ Thanh toán ]</a>
                            }

                        </td>
                        <td>
                            @if (Model.HopDong != null)
                            {
                                <a href="/Admin/HopDongs/Details/@Model.HopDong">[ Hợp đồng @Model.HopDong ]</a>
                            }
                            else
                            {
                                <span class="text-success">Bán lẻ</span>
                            }

                        </td>
                        <td>
                            @if (Model.GiaiDoanGiaoHang == "Hoàn thành")
                            {
                                <a href="/Admin/HoaDons/ChangeStatus/@Model.MaHoaDon"></a>
                                <span class="text-success">Hoàn thành</span>
                            }
                            else if (Model.GiaiDoanGiaoHang == "Đã tiếp nhận")
                            {
                                <span class="text-info">Đã tiếp nhận</span>
                            }
                            else if (Model.GiaiDoanGiaoHang == "Đang giao hàng")
                            {
                                <span class="text-primary">Đang giao hàng</span>
                            }
                            else
                            {
                                @Model.GiaiDoanGiaoHang
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chi tiết giao hàng</h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Ngày giao hàng
                        </th>
                        <th>
                            Số lượng đã giao
                        </th>
                        <th>
                            Thành tiền
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ChiTietHoaDons)
                    {
                        <tr>
                            <td>
                                @item.TenSanPham
                            </td>
                            <td>
                                @item.SoLuong
                            </td>
                            <td>
                                @item.DonGia
                            </td>
                            <td>
                                @item.NgayGiaoHang
                            </td>
                            <td>
                                @{ 
                                    if(item.SoLuongDaGiao == null)
                                    {
                                        item.SoLuongDaGiao = 0;
                                    }
                                }
                                @item.SoLuongDaGiao
                            </td>
                            <td>
                                @item.TongTien
                            </td>
                            <td>
                                <input type="text" name="qty_@item.Id" value="" />
                                <button class="btn btn-primary" onclick="giaoHang(@item.Id, @(item.SoLuong - item.SoLuongDaGiao))">Giao hàng</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" onclick="giaoTatCa()">Giao Tất cả</button>
        </div>
    </div>
</section>

@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
    <script>
        function giaoHang(id, maxQty) {
            var qty = document.getElementsByName("qty_" + id)[0].value;
            if (qty > maxQty || qty <= 0) {
                alert("Số lượng giao không hợp lệ");
            } else {
                window.location.href = "/Admin/HoaDons/AddQty?maCTHD=" + id + "&soLuong=" + qty;
            }
        }
        function giaoTatCa() {
            window.location.href = "/Admin/HoaDons/ShipAll?id=@Model.MaHoaDon";
        }
    </script>
}