@model Models.EF.HoaDon

@{
    ViewBag.Title = "Sửa thông tin hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa thông tin hóa đơn</h3>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Hóa đơn</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MaHoaDon)

                <div class="form-group">
                    <b class="control-label col-md-2"> Thời gian tạo</b>
                    <div class="col-md-10">
                        <input type="date" name="ThoiGianTao" value="" class="form-control" />
                        @Html.ValidationMessageFor(model => model.ThoiGianTao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Tổng tiền</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Mã người dùng</b>
                    <div class="col-md-10">
                        @Html.DropDownList("MaNguoiDung", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNguoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Mã khách hàng</b>
                    <div class="col-md-10">
                        @Html.DropDownList("MaKhachHang", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaKhachHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Đã thanh toán</b>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.DaThanhToan)
                            @Html.ValidationMessageFor(model => model.DaThanhToan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày giao hàng</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayGiaoHang" value="" class="form-control" />
                        @Html.ValidationMessageFor(model => model.NgayGiaoHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày đặt cọc</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayDatCoc" value="" class="form-control" />
                        @Html.ValidationMessageFor(model => model.NgayDatCoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Ngày thanh toán</b>
                    <div class="col-md-10">
                        <input type="date" name="NgayThanhToan" value="" class="form-control" />
                        @Html.ValidationMessageFor(model => model.NgayThanhToan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Hợp đồng</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HopDong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HopDong, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <b class="control-label col-md-2"> Giai đoạn giao hàng</b>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaiDoanGiaoHang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaiDoanGiaoHang, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sửa" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="box-footer">
            @Html.ActionLink("Danh sách", "Index")
        </div>
</section>
@section script{
    <script>
        CKEDITOR.replace('description');
    </script>
}