@model Models.EF.HoaDon

@{
    Layout = null;
}

<!DOCTYPE html>
<!--
  Invoice template by invoicebus.com
  To customize this template consider following this guide https://invoicebus.com/how-to-create-invoice-template/
  This template is under Invoicebus Template License, see https://invoicebus.com/templates/license/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Xuất hóa đơn</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Invoicebus Invoice Template">
    <meta name="author" content="Invoicebus">
    <meta name="template-hash" content="baadb45704803c2d1a1ac3e569b757d5">
    <link href="~/Public/Bill/css/template.css" rel="stylesheet" />
</head>
<body>
    <div id="container" style="width:960px">
        <section id="memo">
            <div class="logo">
                <img src="~/Content/theme/images/banner.png" style="width:381px" />
            </div>

            <div class="company-info">
                <div>Chợ Quê VN</div>
                <br />

                <span>Trường Đại Học Công Ngiệp Hà Nội</span>
                <span></span>
                <br />

                <span>0364561995</span>
                <span>katothang@gmail.com</span>
            </div>
        </section>
        <section id="invoice-title-number">

            <span id="title">Hóa đơn</span>
            <span id="number">@Model.MaHoaDon</span>

        </section>

        <div class="clearfix"></div>

        <section id="client-info">
            <div>
                <span>Mã khách hàng: <strong> @Model.KhachHang.Id</strong></span>
            </div>

            <div>
                <span>Tên khách hàng: <strong> @Model.KhachHang.TenKhachHang</strong></span>
            </div>
            <div>
                <span>Điện thoại: <strong> @Model.KhachHang.DienThoai</strong></span>
            </div>

            <div>
                <span>Email: <strong> @Model.KhachHang.Email</strong></span>
            </div>

            <div>
                <span>Địa chỉ: <strong> @Model.KhachHang.DiaChi</strong></span>
            </div>
        </section>

        <div class="clearfix"></div>

        <section id="items">

            <table cellpadding="0" cellspacing="0">

                <tr>
                    <th>Mã</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Ngày giao hàng</th>
                    <th>Tổng tiền</th>
                </tr>
                @foreach (var item in Model.ChiTietHoaDons)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.SanPham.TenSanPham</td>
                        <td>@item.SoLuong</td>
                        <td>@item.NgayGiaoHang</td>
                        <td>@if(item.TongTien != null)
                        {
                            <span>@item.TongTien.Value.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</span>
                        }
                        </td>
                    </tr>
                }
            </table>

        </section>

        <section id="sums">

            <table cellpadding="0" cellspacing="0">
                <tr data-hide-on-quote="true">
                    <th>Thành tiền</th>
                    <td>@if(Model.TongTien != null)
                    {
                        <spam>@Model.TongTien.Value.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</spam>
                    }
                    </td>
                </tr>

            </table>
            <div class="clearfix"></div>

        </section>

        <div class="clearfix"></div>
        <section id="invoice-info">
            <div>
                <span>Ngày đặt cọc</span> <span>@Model.NgayDatCoc</span>
            </div>
            <div>
                <span>Ngày thanh toán</span> <span>@Model.NgayThanhToan</span>
            </div>
            <br />
            <div>
                <span>Ngày giao hàng</span> <span>@Model.NgayGiaoHang</span>
            </div>
            <div>
                <span>Đã thanh toán</span> <span>@Model.DaThanhToan</span>
            </div>
        </section>

        <section id="terms">
            <div class="notes"></div>
            <br />
            <div class="payment-info">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </section>
        <div class="clearfix"></div>
        <div class="thank-you">Thanks You</div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
