@model IEnumerable<Models.EF.HoaDon>

@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}
<section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách hóa đơn</h3>
            <h3>@Html.ActionLink("Tạo mới", "Create")</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Mã hóa đơn
                        </th>
                        <th>
                            Khách hàng
                        </th>
                        <th>
                            Nhân viên
                        </th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Ngày giao hàng
                        </th>
                        <th>
                            Ngày đặt cọc
                        </th>
                        <th>
                            Ngày thanh toán
                        </th>
                        <th>
                            Hợp đồng
                        </th>
                        <th>
                            Giai đoạn giao hàng
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaHoaDon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.TaiKhoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NguoiDung.TaiKhoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGianTao)
                            </td>
                            <td>
                                @if (item.TongTien != null)
                                {
                                    <span>@item.TongTien.Value.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) VND</span>
                                }
                            </td>
                            <td>
                                @if(item.NgayGiaoHang == null)
                                {
                                    <span class="text-danger">Chưa giao hàng</span>
                                }else
                                {
                                    <span class="text-success">@Html.DisplayFor(modelItem => item.NgayGiaoHang)</span>
                                }
                            </td>
                            <td>
                                @if (item.NgayDatCoc == null)
                                {
                                    <a href="/Admin/HoaDons/DatCoc/@item.MaHoaDon" >[ Đặt cọc ]</a>
                                }
                                else
                                {
                                    <span class="text-success">@Html.DisplayFor(modelItem => item.NgayDatCoc)</span>
                                }
                            </td>
                            <td>
                                @if(item.NgayThanhToan != null)
                                {
                                    <span class="text-success">@Html.DisplayFor(modelItem => item.NgayThanhToan)</span>
                                }
                                else
                                {
                                    <a href="/Admin/HoaDons/ThanhToan/@item.MaHoaDon">[ Thanh toán ]</a>
                                }

                            </td>
                            <td>
                                @if (item.HopDong != null)
                                {
                                    <a href="/Admin/HopDongs/Details/@item.HopDong">[ Hợp đồng @item.HopDong ]</a>
                                }else
                                {
                                    <span class="text-success">Bán lẻ</span>
                                }
                            </td>
                            <td>
                                @if (item.GiaiDoanGiaoHang == "Hoàn thành")
                                {
                                    <a href="/Admin/HoaDons/ChangeStatus/@item.MaHoaDon"></a>
                                     <span class="text-success">Hoàn thành</span>
                                }
                                else if(item.GiaiDoanGiaoHang == "Đã tiếp nhận")
                                {
                                    <span class="text-info">Đã tiếp nhận</span>
                                }
                                else if(item.GiaiDoanGiaoHang == "Đang giao hàng") {
                                    <span class="text-primary">Đang giao hàng</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.GiaiDoanGiaoHang)
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHoaDon }) |
                                @Html.ActionLink("Xuất hóa đơn", "Export", new { id = item.MaHoaDon })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section script{
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}