@model Models.EF.HoaDon

@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<h2>ThanhToan</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDatCoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatCoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HopDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HopDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaiDoanGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaiDoanGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Danh sách", "Index")
</p>
