@model Models.EF.SanPham

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DanhMucSanPham.TenDanhMuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DanhMucSanPham.TenDanhMuc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MetaTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MetaTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenSanPham)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenSanPham)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MoTa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MoTa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DonGia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DonGia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DonVi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DonVi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HinhAnh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HinhAnh)
                </dd>

            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-default" /> |
                    @Html.ActionLink("Danh sách", "Index")
                </div>
            }
        </div>
    </div>
</section>