@model CuaHangDoGo.Areas.Admin.Models.DashboardModel
@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

    <section class="content-header">
        <h1>
            Bảng điều khiển
            <small>Cập nhật thông tin mới nhất</small>
        </h1>
       <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>--> 
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.KhachHangNo</h3>
                        <p>Khách hàng</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i> 
                    </div>
                    <a href="/Admin/KhachHangs/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.LoaiTaiKhoanNo</h3>
                        <p>Loại tài khoản</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <a href="/Admin/LoaiTaiKhoans/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.NguoiDungNo</h3>
                        <p>Người dùng</p>
                    </div>
                    <div class="icon">
                        <i class="far fa-address-book"></i> 
                    </div>
                    <a href="/Admin/NguoiDungs/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.NhaCungCapNo</h3>
                        <p>Nhà cung cấp</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-building"></i> 
                    </div>
                    <a href="/Admin/NhaCungCaps/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple ">
                    <div class="inner">
                        <h3>@Model.DanhMucSanPhamNo</h3>
                        <p>Danh mục sản phẩm</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-list-ul"></i>
                    </div>
                    <a href="/Admin/DanhMucSanPhams/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.SanPhamNo</h3>
                        <p>Sản phẩm</p>
                    </div>
                    <div class="icon">
                        <i class="fab fa-product-hunt"></i> 
                    </div>
                    <a href="/Admin/SanPhams/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>@Model.HopDongNo</h3>
                        <p>Hợp đồng</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <a href="/Admin/HopDongs/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3>@Model.HoaDonNo</h3>
                        <p>Hóa đơn</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-newspaper"></i> 
                    </div>
                    <a href="/Admin/HoaDons/Index" class="small-box-footer">Quản lý <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </section>



