@model Models.EF.SanPham
@{
    ViewBag.Title = Model.TenSanPham;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: #ff6a00; text-transform: uppercase;">@Model.TenSanPham</h3>
<div class="detailtour-box-info">
    <fieldset>
        @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
        {
            <input hidden="hidden" name="id" value="@Model.Id"/>
            <input hidden="hidden" name="price" value="@Model.DonGia"/>
            <input hidden="hidden" name="unit" value="@Model.DonVi"/>
    <input hidden="hidden" name="product_name" value="@Model.TenSanPham" />

            <img src="~/Public/Upload/Product/@Model.HinhAnh" class="img-rounded" />
            <div class="detailtour-box-info-text">
                <p><i class="fas fa-dollar-sign"></i> Đơn giá: @Model.DonGia VND</p>
                <p><i class="fas fa-anchor"></i> Đơn vị: @Model.DonVi</p>
                <p><i class="far fa-list-alt"></i> Danh mục: @Model.DanhMucSanPham.TenDanhMuc</p>
                <p><i class="far fa-calendar-plus"></i> Số lượng: <input name="amount" type="number" value="1" /></p>
                <div class="box-text-button1">
                    <button type="submit" class="btn btn-default">Vào giỏ</button>
                </div>
            </div>
        }
    </fieldset>
</div>
<legend>THÔNG TIN SẢN PHẨM</legend>
@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.MoTa))
<br />